---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="CONCOEUR">
  <h1>CONCOEUR</h1>
  <p></p>

  <div class="manifesto">

   Välkommen till ett nytt företagande inom hälsa, vars syfte är att erbjuda evidensbaserade, okonstlade och lokala hälsotjänster. Hyperbar syreterapi är ett första boutique erbjudande  – i diskret och korrekt utförande centralt på Östermalm. 

 <p> </p> 
 



  </div>
</BaseLayout>


