---
import BaseLayout from "../layouts/BaseLayout.astro";
---



 
<BaseLayout title="CONCOEUR">
 <h1>CONCOEUR</h1>
  <section class="hero">
    

    <p class="manifesto">
        Välkommen till ett nytt svenskt initiativ inom hälsa, vars syfte är att erbjuda evidensbaserade, okonstlade och lokala hälsotjänster. Hyperbar syrgas är ett första boutique-erbjudande  – i finstämt och lågmält utförande centralt på Östermalm. 

 
    </p>

    <p class="manifesto">
      Vår ambition är att successivt lansera ytterligare hälsofrämjande tjänster. Korrekt beskrivna, utan fluff och sömlöst presenterade. För
      Dig med högre ambition och krav på Din hälsa. 
    </p>

    <p class="manifesto">
      Tjänsterna avgörs och utvecklas i samarbete med medicinsk kompetens och klinisk erfarenhet,
      med säkerhet, noggrannhet och ansvar som grund.
    </p>
  </section>

<p class="manifesto">
     
    </p>
</BaseLayout>



  </div>
</BaseLayout>


