---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="CONCOEUR">
  <h1>CONCOEUR</h1>
  <p></p>

 

  <div style="display:grid; grid-template-columns:repeat(3,1fr); gap:100px; 
margin-top:137px;">
    <div style="border:1px solid #ddd; border-radius:16px; padding:100px; 
background:rgba(255,255,255,.4);">
      <b>2.0 ATA</b><br />
    </div>
    <div style="border:1px solid #ddd; border-radius:16px; padding:100px; 
background:rgba(255,255,255,.4);">
      <b>60 min</b><br /> 
    </div>
    <div style="border:1px solid #ddd; border-radius:16px; padding:100px; 
background:rgba(255,255,255,.4);">
      <b>~96%</b><br />
    </div>
  </div>
</BaseLayout>

